[Unit]
Description=GC unreferenced hashed static assets
OnFailure=myapp-alert@%n.service

[Service]
Type=oneshot
ExecStart=/etc/scripts/myapp-static-gc.sh
# --- Sandboxing.
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
LockPersonality=true
ReadWritePaths=/mnt/data/static

